<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpnj8I432TMRsdeBuSP0FFoSFLIPY" Guid="{4D32A4ED-D48B-4EC0-BB57-8ABCBDD11C3F}">
                <File Id="filXUMwul3TsPfwUC4znLwldF1Dc.g" KeyPath="yes" Source="$(var.BasePath)\(null).log" />
            </Component>
            <Component Id="cmpQZ1lZACf7qUczPUzYJWwRGkODhI" Guid="{9368BDE2-946D-45DF-8849-5F671F20F40A}">
                <File Id="filDVbM1dcGjYacSNb9HHoM0T0m2EM" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.exe" />
            </Component>
            <Component Id="cmpIVv5KTgmOzUBBlhz485W7_51nz8" Guid="{7E3B73BD-A718-46FC-AC2A-67198F8E9070}">
                <File Id="fil6ySZUnfNWTTqlyru8m2tot7aNdQ" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.exe.config" />
            </Component>
            <Component Id="cmpJ3myLQ46STCiiAPtYbMMKHGACvc" Guid="{34E3EF38-8F4E-4973-98DE-C0EC0AC4B89A}">
                <File Id="filWjWoyThXT_QWi9Jb6D.tE4e5s_g" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.pdb" />
            </Component>
            <Component Id="cmp3yTr3n8p4DVCy3ds5z_N7Bm3Yjo" Guid="{172F345C-2353-4160-9930-43C537CEBC5A}">
                <File Id="filtwwZtfLkBOYG5BW49fuLqcqWq1w" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe" />
            </Component>
            <Component Id="cmp5j4eAReubztJYk9aEmxnyarblFQ" Guid="{B1EDA169-0892-456E-BA78-AB66B3338755}">
                <File Id="filcoxFs.rmHoFapdVEmYBNHISvLOA" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe.config" />
            </Component>
            <Component Id="cmpUqPNBBeyH8UUM_I7epIgw3d2a.w" Guid="{C6BD3D64-5F98-415D-820D-4B9AA9AE647C}">
                <File Id="filfCk2VyK_etVfQNvLs74zRi9aoIM" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe.config.bak" />
            </Component>
            <Component Id="cmpKSIGDjIRCQkFb9fZnBKG1xTvPDg" Guid="{30717F20-1A5E-43E6-B5E5-54C4EAA8F60B}">
                <File Id="filrQStmNFHMfRkkd.gxtnfR1jnlD4" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpm5LfEoqynzWMfObI5magU.UzgOQ" Guid="{DFCBE33D-3E7D-4908-A927-6EB918D57153}">
                <File Id="film1PYtLkp8EIBGDg4GxuATGsGZHE" KeyPath="yes" Source="$(var.BasePath)\log4net.dll" />
            </Component>
            <Component Id="cmpJtZnsrIrU8fRGHINOJ4Smko4gE0" Guid="{2444A62D-A2B1-438F-90DA-E1B4564A6574}">
                <File Id="filM949i12HuzD0codCxUMbHJ6St.g" KeyPath="yes" Source="$(var.BasePath)\log4net.xml" />
            </Component>
            <Component Id="cmpe8xupnGgWTjCSJyMxo1F.4858uk" Guid="{477404BE-D3B7-4B15-A6B6-BE61E330EB7D}">
                <File Id="filXIcMMiVBkMeXXCN7m6oAlt6nR1w" KeyPath="yes" Source="$(var.BasePath)\NHapi.Base.dll" />
            </Component>
            <Component Id="cmpHyHOTPkGVNraD_3hFWTgv6MROs8" Guid="{D0F42E62-D0EA-463E-A390-0B75F17DF227}">
                <File Id="filNXSqmplCZa_TLMogg2cOdoNr4JY" KeyPath="yes" Source="$(var.BasePath)\NHapi.Base.xml" />
            </Component>
            <Component Id="cmphE7sGn.6.RG2uNJtWFRHk2P1Udc" Guid="{C2DE2510-69B7-420D-A1AE-B41D014A93A5}">
                <File Id="filOeC7KI2e9R0aAxgK5d4EZqLLccc" KeyPath="yes" Source="$(var.BasePath)\NHapi.Model.V23.dll" />
            </Component>
            <Directory Id="dirzJX9Wj.uJvmfG6CMzyf2rXrp4WQ" Name="Log">
                <Component Id="cmpO9GIFsBqr3kHHuEcMn0cyD1LPw0" Guid="{D1822435-321E-4B4E-8B8B-69451981CA6D}">
                    <File Id="fil.aNxgsJ77IObrlOtYkLqmI_lUp4" KeyPath="yes" Source="$(var.BasePath)\Log\log.log" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpnj8I432TMRsdeBuSP0FFoSFLIPY" />
            <ComponentRef Id="cmpQZ1lZACf7qUczPUzYJWwRGkODhI" />
            <ComponentRef Id="cmpIVv5KTgmOzUBBlhz485W7_51nz8" />
            <ComponentRef Id="cmpJ3myLQ46STCiiAPtYbMMKHGACvc" />
            <ComponentRef Id="cmp3yTr3n8p4DVCy3ds5z_N7Bm3Yjo" />
            <ComponentRef Id="cmp5j4eAReubztJYk9aEmxnyarblFQ" />
            <ComponentRef Id="cmpUqPNBBeyH8UUM_I7epIgw3d2a.w" />
            <ComponentRef Id="cmpKSIGDjIRCQkFb9fZnBKG1xTvPDg" />
            <ComponentRef Id="cmpm5LfEoqynzWMfObI5magU.UzgOQ" />
            <ComponentRef Id="cmpJtZnsrIrU8fRGHINOJ4Smko4gE0" />
            <ComponentRef Id="cmpe8xupnGgWTjCSJyMxo1F.4858uk" />
            <ComponentRef Id="cmpHyHOTPkGVNraD_3hFWTgv6MROs8" />
            <ComponentRef Id="cmphE7sGn.6.RG2uNJtWFRHk2P1Udc" />
            <ComponentRef Id="cmpO9GIFsBqr3kHHuEcMn0cyD1LPw0" />
        </ComponentGroup>
    </Fragment>
</Wix>