<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp92CDF83408E5615434E15613772F5E7C" Guid="{F24C801B-45E6-40FF-A96C-A412B2B9F9AD}">
                <File Id="filC997D98DF3511F9C6B2CEC2BC43495C3" KeyPath="yes" Source="$(var.BasePath)\(null).log" />
            </Component>
            <Component Id="cmpC1D9E0844D2E4AFB937FF4F217485F9B" Guid="{CF460CCB-CC3A-428E-B214-27D8421FC83C}">
                <File Id="filE22341AF2206CB60356461A056123EE7" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.exe" />
            </Component>
            <Component Id="cmpEFAB68C7CD45D5422D0973F740293912" Guid="{16910F09-CEF2-44D0-A1AB-1B62FC973FB8}">
                <File Id="filFEDCE752CEEB47ED4DD897B32B91D60D" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.exe.config" />
                <util:XmlFile Id="XmlHostName" Action="setValue" Permanent="yes" File="[#filFEDCE752CEEB47ED4DD897B32B91D60D]" ElementPath="//configuration/appSettings/add[\[]@key='HostName'[\]]" Value="[HOSTNAME]" Name="value" SelectionLanguage="XSLPattern" Sequence="1" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" />
                <util:XmlFile Id="XmlServerPort" Action="setValue" Permanent="yes" File="[#filFEDCE752CEEB47ED4DD897B32B91D60D]" ElementPath="//configuration/appSettings/add[\[]@key='ServerPort'[\]]" Value="[SERVERPORT]" Name="value" SelectionLanguage="XSLPattern" Sequence="1" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" />
                <util:XmlFile Id="XmlPFXThumbPrint" Action="setValue" Permanent="yes" File="[#filFEDCE752CEEB47ED4DD897B32B91D60D]" ElementPath="//configuration/appSettings/add[\[]@key='pfxthumbPrint'[\]]" Value="[PFXTHUMBPRINT]" Name="value" SelectionLanguage="XSLPattern" Sequence="1" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" />
                <util:XmlFile Id="XmlSRC" Action="setValue" Permanent="yes" File="[#filFEDCE752CEEB47ED4DD897B32B91D60D]" ElementPath="//configuration/appSettings/add[\[]@key='SRC'[\]]" Value="[SRC]" Name="value" SelectionLanguage="XSLPattern" Sequence="1" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" />
                <util:XmlFile Id="XmlIPAddressIndex" Action="setValue" Permanent="yes" File="[#filFEDCE752CEEB47ED4DD897B32B91D60D]" ElementPath="//configuration/appSettings/add[\[]@key='IPAddressIndex'[\]]" Value="[IPINDEX]" Name="value" SelectionLanguage="XSLPattern" Sequence="1" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" />
            </Component>
            <Component Id="cmp37F78D31E5AD332A9F03F3AD99CB1E5E" Guid="{A92BE18D-654B-47B9-B920-E6A5CD5B9597}">
                <File Id="filABF4C773A723BD0725C67299C4B2F299" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.pdb" />
            </Component>
            <Component Id="cmp6E21552E08BAE305FCD785CBB0E6F67D" Guid="{F60A0AA6-165B-49AF-9CC9-79455F033A53}">
                <File Id="fil412B29ADB18DD558D515AECE8A15E1CA" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe" />
            </Component>
            <Component Id="cmp60035D4873E82CAA65E603F75A81397D" Guid="{44D2ECDB-C675-4BDB-9FF1-91704D42C941}">
                <File Id="filD87F2BCFD96F1682A224E1DD1774C613" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe.config" />
            </Component>
            <Component Id="cmp6F1BB5F1BE41D46AE9A91FC55C1D51F5" Guid="{E7E2C742-664F-419D-9F33-18BEDDA70686}">
                <File Id="fil7EF26304A2947C440B02BA54251B4092" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe.config.bak" />
            </Component>
            <Component Id="cmp3B34260CF4FF7B33D4866B96F08889E9" Guid="{E7615484-690F-4AD8-8B07-06E4E0709F33}">
                <File Id="filA5EDA956E250865629D8F513F2D759FA" KeyPath="yes" Source="$(var.BasePath)\HL7SenderWinForm2015.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp13D58469BCB864EB53214ED46E622188" Guid="{AE0BA11B-3EA5-46B1-93D9-D384D3034D74}">
                <File Id="fil28F7A9478894C77C5F6C2A95DAA4B459" KeyPath="yes" Source="$(var.BasePath)\log4net.dll" />
            </Component>
            <Component Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" Guid="{5B0F24D8-33C3-49A8-B65B-51D2F134B5F7}">
                <File Id="filA307C00D897BECB908C510DE71A3AD29" KeyPath="yes" Source="$(var.BasePath)\log4net.xml" />
            </Component>
            <Component Id="cmp36ADCC7C7F9082723349FB99FC4FCB94" Guid="{9A3D7200-3F91-497F-BB35-97DD3B767CCA}">
                <File Id="fil7C2B3E1C136901B5AD0E908A0A23669A" KeyPath="yes" Source="$(var.BasePath)\NHapi.Base.dll" />
            </Component>
            <Component Id="cmp2B9D8161CA39CCBD738F072E8244C711" Guid="{108D067F-2E98-4CE0-8011-9922A35D9960}">
                <File Id="filC3184CED8C9B8DC275C98F256DC44EE8" KeyPath="yes" Source="$(var.BasePath)\NHapi.Model.V23.dll" />
            </Component>
            <Directory Id="dirC40AC364B5E0B46638A4945083D7F012" Name="Log">
                <Component Id="cmp2A3EF4B8B7D9A131EF987AB65DDC5CF4" Guid="{04C354B2-1EE4-4033-AD50-92D9232401DA}">
                    <File Id="filA01ED10481E0E7444FAC39D0C770024A" KeyPath="yes" Source="$(var.BasePath)\Log\log.log" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp92CDF83408E5615434E15613772F5E7C" />
            <ComponentRef Id="cmpC1D9E0844D2E4AFB937FF4F217485F9B" />
            <ComponentRef Id="cmpEFAB68C7CD45D5422D0973F740293912" />
            <ComponentRef Id="cmp37F78D31E5AD332A9F03F3AD99CB1E5E" />
            <ComponentRef Id="cmp6E21552E08BAE305FCD785CBB0E6F67D" />
            <ComponentRef Id="cmp60035D4873E82CAA65E603F75A81397D" />
            <ComponentRef Id="cmp6F1BB5F1BE41D46AE9A91FC55C1D51F5" />
            <ComponentRef Id="cmp3B34260CF4FF7B33D4866B96F08889E9" />
            <ComponentRef Id="cmp13D58469BCB864EB53214ED46E622188" />
            <ComponentRef Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" />
            <ComponentRef Id="cmp36ADCC7C7F9082723349FB99FC4FCB94" />
            <ComponentRef Id="cmp2B9D8161CA39CCBD738F072E8244C711" />
            <ComponentRef Id="cmp2A3EF4B8B7D9A131EF987AB65DDC5CF4" />
        </ComponentGroup>
    </Fragment>
</Wix>