<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="!(loc.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="!(loc.Company)" UpgradeCode="9e7ca970-87c5-45cb-8dd6-e284ddcfaa0b" InstallerVersion="200">
		

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeMessage)" />
		
		<!-- Include .cab file into .msi file-->
		<MediaTemplate EmbedCab="yes" />
		
		<!--Application Icon setup-->
		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)/hl7_Icon.ico" />
		
		<!--Installer will use icon.ico as Icon-->
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<UI Id="MyWixUI_Mondo">
			<ui:WixUI Id="WixUI_Mondo" />
			<UIRef Id="WixUI_ErrorProgressText" />

			<DialogRef Id="HL7ConfigDlg" />

			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="HL7ConfigDlg" Order="2" Condition="LicenseAccepted = &quot;1&quot;" />
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="HL7ConfigDlg" />
			<Property Id="WixUI_HL7ConfigDlgBack" Value="LicenseAgreementDlg" />
			<Property Id="WixUI_HL7ConfigDlgNext" Value="SetupTypeDlg" />
			
			<!--Setting Default values-->
			<Property Id="HOSTNAME" Value="G07SGXNFAP11083" />
			<Property Id="SERVERPORT" Value="57207" />
			<Property Id="PFXTHUMBPRINT" Value="e28217be425f76262dc29af7a7ef95e7842b3d3c" />
			<Property Id="SRC" Value="tcp://localhost" />
			<Property Id="IPINDEX" Value="1" />
		</UI>
		

		<!--<Property Id="PIDTemplate"><![CDATA[12345<### ###>@@@@@]]></Property>-->
		<Property Id="PIDTemplate" Value="e28217be425f76262dc29af7a7ef95e7842b3d3c" />

		<Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />
		</Feature>
	</Package>
</Wix>
